* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(https://plus.unsplash.com/premium_photo-1664303773101-6376f5732b41?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTg3fHxwcm9ncmFtYSVDMyVBNyVDMyVBM298ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center
    
}

h1{
    color: white;
    font-size: 4rem;
    margin-bottom: 50px;
}

h2{
    color: white;
    font-size: 2em;
    margin-bottom: 50px;
}
p {
    color: white;
    margin-bottom: 100px;
}
ul {
  display: inline-block;
  padding: 0;
  gap: 20px; 
  color: white;           
}

li {
  color: white;
  border-radius: 5px;
}

@media (max-width: 600px) {
  header {
    font-size: 1.5rem;
    padding: 15px;
  }
}